html,
body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #474a4e;
}

a {
    text-decoration: none;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.section {
    display: flex;
    justify-content: center;
}

.section__inner {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    width: 1000px;
    padding: 30px;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__title {
    font-weight: 300;
    font-size: 25px;
    margin: 0;
    margin-left: 30px;
    line-height: 49px;
}

.nav {
    display: flex;
}

.nav__item {
    margin: 0 10px;
    color: #474a4e;
    text-decoration: none;
    transition: all .2s;
}

.nav__item:not(:last-child):after {
    content: '|';
    color: #d3dde5;
    margin-left: 10px;
}

.nav__item:hover {
    color: #3dae2b;
}

.nav__item._active {
    color: #3dae2b;
}

.body {
    flex: 1;
}

.intro {
    align-items: center;
    height: 100%;
}

.intro .section__inner {
    margin-top: -100px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    margin: 0;
    padding: 0;
    outline: none;
    border: 1px solid #d3dde5;
    border-radius: 6px;
    margin-top: 20px;
    padding: 6px 12px;
    transition: all .3s;
    box-sizing: border-box;
    height: 36px;
    font-size: 12px;
}

.field:focus {
    border-color: #3dae2b;
}

.select {
    margin: 0;
    padding: 0;
    outline: none;
    border: 1px solid #d3dde5;
    background-color: #fff;
    border-radius: 6px;
    margin-top: 20px;
    padding: 6px 12px;
    transition: all .3s;
    box-sizing: border-box;
    height: 36px;
    font-size: 12px;
    cursor: pointer;
}

.select:focus {
    border-color: #3dae2b;
}

.btn {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: #3dae2b;
    border: 1px solid #3dae2b;
    border-radius: 6px;
    margin-top: 20px;
    padding: 6px 12px;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
    height: 36px;
    font-size: 12px;
}

.btn:hover {
    background-color: #fff;
    color: #3dae2b;
}

.btn._invert {
    background-color: #fff;
    border: 1px solid #3dae2b;
    color: #3dae2b;
}

.btn._invert:hover {
    background-color: #3dae2b;
    color: #fff;
}

.form__title {
    margin: 0;
    font-weight: 300;
    font-size: 20px;
}

.login-form {
    width: 260px;
}

.login-field {
    width: 100%;
}

.login-btn {
    width: 100%;
}

.fields-form {
    align-items: flex-start;
}

.field-group {
    display: flex;
    align-items: center;
}

.field-group .field {
    margin-right: 20px;
}

.field-group-add {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid #3dae2b;
    color: #3dae2b;
    margin-top: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .3s;
    margin-left: 20px;
}

.field-group-add:hover {
    background-color: #3dae2b;
    color: #fff;
}

.fields-btn {
    width: 100%;
}

.highlight-round {
    display: inline-block;
    font-size: 15px;
    border: 1px solid #3dae2b;
    padding: 2px 4px;
    box-sizing: border-box;
    border-radius: 6px;
}

.body__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error {
    max-width: 100%;
    font-size: 13px;
    border: 1px solid #E74C3C;
    background-color: rgba(231, 76, 60, .5);
    color: #fff;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 6px;
    margin-bottom: 20px;
}

/* .loading {
    border-radius: 50px;
    width: 100%;
    height: 2px;
    margin-bottom: 20px;
}

.loading__inner {
    background-color: #3dae2b;
    height: 100%;
    width: 0%;
} */

.dataTables_info {
    display: none;
}

th {
    font-size: 13px;
    font-weight: 400;
}

td {
    font-size: 13px;
    font-weight: 300;
    text-align: center;
}